<%- include("header") -%>
    <div class="unidade">
        <img src="/img/sede cias/1 cia/jundiai.jpg" class="fotoCia">
        <div class="dadosCia">
            <h1>1 CIA</h1>
            <hr>
            <h4>Av. Comendador Antônio Borin, 3480 - Colônia</h4>
            <a href="https://www.google.com/maps/place/Av.+Comendador+Ant%C3%B4nio+Borin,+3480+-+Col%C3%B4nia,+Jundia%C3%AD+-+SP,+13218-640,+Brasil/@-23.1687164,-46.8557621,14.25z/data=!4m5!3m4!1s0x94cf27123502dc27:0x259a45d69b79881a!8m2!3d-23.1753286!4d-46.8483898?hl=pt-BR" target="_blank">
                <i class="fa fa-map-marker-alt fa-2x"></i>
            </a>
        </div>
    </div>



<%- include("footer") -%>