<footer>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>
    <div class="icons">
        <a href="https://pt-br.facebook.com/QuadragesimoNonoBPMI/">
            <i class="fab fa-facebook-f icon"></i>
        </a>
        <a href="https://www.instagram.com/49bpmi/">
            <i class="fab fa-instagram icon"></i>
        </a>
        <a href="https://www.twitter.com/PMESP/">
            <i class="fab fa-twitter icon"></i>
        </a>
    </div>
    <script src="/js/topButton.js"></script>
</footer>

</body>
</html>