<footer>
    <div class="icons">
        <a href="https://pt-br.facebook.com/QuadragesimoNonoBPMI/">
            <i class="fab fa-facebook-f icon"></i>
        </a>
        <a href="https://www.instagram.com/49bpmi/">
            <i class="fab fa-instagram icon"></i>
        </a>
        <a href="https://www.twitter.com/">
            <i class="fab fa-twitter icon"></i>
        </a>
    </div>
</footer>

</body>
</html>