<%- include("header") -%>
<div class="grid-container">
    <div class="grid-item">
        <img src="" alt="">
        <div class="placaCmt">
            <h5>Nome coronel</h5>
            <p>1998 - 1999</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="" alt="">
        <div class="placaCmt">
            <h5>Nome coronel</h5>
            <p>1998 - 1999</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="" alt="">
        <div class="placaCmt">
            <h5>Nome coronel</h5>
            <p>1998 - 1999</p>
        </div>
    </div>  
    <div class="grid-item">
        <img src="" alt="">
        <div class="placaCmt">
            <h5>Nome coronel</h5>
            <p>1998 - 1999</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="" alt="">
        <div class="placaCmt">
            <h5>Nome coronel</h5>
            <p>1998 - 1999</p>
        </div>
    </div>
    <div class="grid-item">
        <img src="" alt="">
        <div>
            <h5></h5>
            <p></p>
        </div>
    </div>  
    <div class="grid-item">
        <img src="" alt="">
        <div>
            <h5></h5>
            <p></p>
        </div>
    </div>
    <div class="grid-item">
        <img src="" alt="">
        <div>
            <h5></h5>
            <p></p>
        </div>
    </div>
    <div class="grid-item">
        <img src="" alt="">
        <div>
            <h5></h5>
            <p></p>
        </div>
    </div>  
  </div>

<%- include("footer") -%>