<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesServicos.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e531ed52e5.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>49ยบ BPM/I</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand">
            <img src="/img/logo.png" alt="logopm" width="100" height="85" class="d-inline-block align-text-top">
            <h2>
              49ยบ BPM/I
            </h2>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sub-Unidades
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/batalhao">Batalhao</a></li>
                  <li><a class="dropdown-item" href="/1cia">1 Companhia</a></li>
                  <li><a class="dropdown-item" href="/2cia">2 Companhia</a></li>
                  <li><a class="dropdown-item" href="/3cia">3 Companhia</a></li>
                  <li><a class="dropdown-item" href="/ft">Forca Tatica</a></li>
                </ul>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Comandantes
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/atualcmt">Atual Comandante</a></li>
                  <li><a class="dropdown-item" href="/galeriacmts">Galeria de comandantes</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/policialdomes">Policial do Mes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/servicos">Servicos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

