<%- include("header") -%>
<header>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('/img/carousel/img_1.JPG')">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('/img/carousel/img_2.JPG')">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('/img/carousel/img_3.JPG')">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('/img/carousel/img_4.JPG')">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('/img/carousel/img_5.JPEG')">
          <div class="carousel-caption">
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
  <section class="numeros49">
    
    <h1 class="tituloNumeros">49ยบ BPM/I EM NUMEROS</h1>
    <div class="todosNumeros">
        <div class="numerosCard">
          <div>
            <img src="/img/icons/phone.svg" class="numerosIcon">
          </div>
          <hr>
          <h3>
            Ocorrencias Atendidas
          </h3>
            <h5 class="counter" data-target="10000">
                0
            </h5>
        </div>
        <div class="numerosCard">
            <img src="/img/icons/pills.svg" class="numerosIcon">
            <hr>
            <h3>
                Drogas Apreendidas
            </h3>
            <h5 class="counter" data-target="9999">
                0
            </h5>
        </div>
        <div class="numerosCard">
            <img src="/img/icons/handcuff.svg" class="numerosIcon">
            <hr>
            <h3>
                Pessoas Presas
            </h3>
            <h5 class="counter" data-target="8888">
                0
            </h5>
        </div>
        <div class="numerosCard">
            <img src="/img/icons/revolver.svg" class="numerosIcon">
            <hr>
            <h3>
                Armas de Fogo Apreendidas
            </h3>
            <h5 class="counter" data-target="7777">
                0
            </h5>
        </div>
        <div class="numerosCard">
            <img src="/img/icons/car.svg" class="numerosIcon">
            <hr>
            <h3>
                Veiculos Recuperados
            </h3>
            <h5 class="counter" data-target="6666">
                0
            </h5>
        </div>
    </div>
  </section>
  </div>
  <script src="/js/count.js"></script>
  <script src="/js/getYear.js"></script>
  <script src="/js/addClassNavBar.js"></script>


<%- include("footer") -%>