<%- include("header") -%>
<div class="servicos">
    <ul class="nav">
        <li>
          <a href="http://sistemasadmin.intranet.policiamilitar.sp.gov.br/Escala/PmCriterioDEJEM.aspx?9uLOqSEwomCcnM9Gu0fUhcZgkR66toXr" target="_blank">
              <span>DEJEM</span>
              <span class="screen-reader-text">Home</span>
            </a>
        </li>
        <li>
            <a href="http://sisbol.intranet.policiamilitar.sp.gov.br/_sisbolsc8/frmlogin/" target="_blank">
                <span>SISBOL</span>
                <span class="screen-reader-text">Settings</span>
            </a>
        </li>
        <li>
            <a href="https://ciaf.policiamilitar.sp.gov.br/folhadepagamento/autenticacaosegura.aspx" target="_blank">
              <span>HOLERITE</span>
              <span class="screen-reader-text">Home</span>
            </a>
        </li>
        <li>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfxRBurx_ew9PR-8a6Sl326QfIkUWCXQ_5id5RZXkuJnhlC7w/viewform" target="_blank">
            <span>UIS</span>
            <span class="screen-reader-text">Refresh</span>
          </a>
        </li>
        <li>
          <a href="http://prdwinet.ccb.policiamilitar.sp.gov.br/assinatura/play.aspx" target="_blank">
            <span>ASSINATURA</span>
            <span class="screen-reader-text">Location</span>
          </a>
        </li>
        <li>
            <a href="https://correio.policiamilitar.sp.gov.br/iwaredir.nsf" target="_blank">
              <span>EMAIL</span>
              <span class="screen-reader-text">Settings</span>
            </a>
        </li>
        <li>
            <a href="https://ead.policiamilitar.sp.gov.br/login/index.php" target="_blank">
              <span>EAD</span>
              <span class="screen-reader-text">Settings</span>
            </a>
        </li>
    </ul>
</div>

<%- include("footer") -%>