html {
    overflow-x:hidden;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
}

.container-fluid {
    margin: 0 30px;
}

.navbar {
    border-bottom: 3px solid #b72a04;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    margin: 0 10px;
}

.navbar-brand h2 {
    margin-left: 10px;
    font-weight: 600;
}

.servicosLink {
    border: 1px solid #962000;
    border-radius: 3px;
    padding: 1px;
    background: linear-gradient(to left, #212529 50%, #A80000 50%) right;
    background-size: 200%;
    transition: 0.35s ease-out;
}

.servicosLink:hover {
    background-position: left;
}

.servicosLink .nav-link{
    font-weight: 800;
    letter-spacing: 1.5px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.numeros49 {
    height: 85vh;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 30px;
}

.todosNumeros {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.numerosCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numerosCard hr {
    flex-grow: 1;
    width: 50%;
    color: #4e565f;
}


.numerosIcon {
    width: 100px;
    height: 100px;
    padding: 15px 0;
    filter: invert(10%) sepia(8%) saturate(1187%) hue-rotate(169deg) brightness(90%) contrast(87%);
    opacity: 0.7;
}

.numeros49 h1, h3 {
    text-align: center;
    font-weight: 600;
    padding: 10px 10px;
}

.numeros49 h5 {
    text-align: center;
}


/*Sub Unidades*/
.listaUnidades {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.unidade{
    height: 85vh;
    display: flex;
    align-items: center;
    padding: 15px;
}

.fotoCia {
    width: 50%;
    margin: 30px 30px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #a8a8a8;
    height: 500px;
}

.dadosCia {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f7f8;;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #a8a8a8;
    padding: 140px 0;
    margin-right: 30px;
}

.dadosCia hr {
    flex-grow: 1;
    width: 50%;
    color: #4e565f;
}

.dadosCia i {
    margin-top: 30px;
    color: #4e565f;
}

.dadosCia i:hover {
    color: #212529;
}

/* ATUAL CMT */
.atualCmt {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 20px;
    width: 100%;
}


.fotoatualcmt {
    display: flex;
    justify-content: center;
    width: 50%;
}

.fotoatualcmt img {
    border-radius: 5px;
    width: 70%;
    max-height: auto;
    box-shadow: 0 1px 3px 0 #a8a8a8;;
}

.quadradoSeparaTitulo {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    padding-left: 8px;
    position: relative;
    bottom: -25px;
    background-color:hsl(0, 98%, 65%);
}

.curriculocmt {
    display: flex;
    flex-direction: column;
    background-color: #f6f7f8;;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #a8a8a8;
    padding: 50px;
}


.curriculocmt h3 {
    font-weight:600;
    z-index: 1;
    padding-left: 8px;
    margin-bottom: 0;
}

.curriculocmt li{
    list-style-type: square;
    margin-bottom: 10px;
}


/* Galeria cmts */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    column-gap: 80px;
    row-gap: 100px;
    margin: 20px 30px;
}

.grid-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border: 10px solid #BA8C63;
    border-image: linear-gradient(45deg, #BA8C63, #634828) 1;
    font-size: 20px;
}

.grid-item img {
    width: 100%;
    max-height: 400px;
}

.placaCmt {
    background-color: #dbdada;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border: 2px solid #000;
}

.placaCmt p {
    margin: 5px;
    font-weight: 600;
}

/*SERVICOS */
.servicos {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    width: 50%;
}

footer {
    background-color: #212529;
    border-top: 3px solid #b72a04;
    display: flex;
    justify-content: flex-start;
    bottom: 0;
    width: 100%;
}

footer .icons a {
    text-decoration: none;
    margin-left: 30px;
}

footer .icons {
    margin-right: 5%;
}

#myBtn {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #A80000;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 #646464;
}
  
#myBtn:hover {
    background-color: hsl(0, 75%, 46%);
  }

.icon {
    color: #f6f7f8;
    margin: 20px 10px;
}

.icon:hover {
    color:#b72a04;
}


@media only screen and (max-width: 1180px) {
    .container-fluid {
        margin: 0;
    }

    .tituloNumeros {
        width: 90%;
    }

    .numeros49 {
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }

    .todosNumeros {
        display: flex;
        flex-direction: column;
        align-items: space-evenly;
    }

    .numerosCard {
        margin-bottom: 20px;
    }

    .unidade {
        flex-direction: column;
        height: auto;
    }

    .fotoCia {
        width: 100%;
        height: auto;
    }

    .dadosCia {
        width: 100%;
        padding: 50px;
        text-align: center;
        margin-right: 0;
    }

    .atualCmt {
      flex-direction: column;
      height: 100%;
    }

    .fotoatualcmt {
        width: 100%;
        margin-bottom: 20px;
    }

    .fotoatualcmt img {
        width: 100%;
    }

    .quadradoSeparaTitulo {
        display: none;
    }
    
    .curriculocmt h3 {
        margin-left: 15px;
        position: relative;
        left: -22.5px;
        top: 2px;
        font-weight:600;
        width: 100%;
    }

    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
        width: 100%;
    }    

    .grid-container {
        grid-template-columns: auto;
        height: 100%;
        column-gap: 0;
    }

    .placaCmt {
        width: 80%;
    }

    .placaCmt p {
        font-size: 14px;
        margin: 5px;
        font-weight: 600;
    }

    footer {
        bottom: 0;
        position: relative;
        justify-content: center;
    }

}

