html {
    overflow-x:hidden;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
}

.navbar {
    border-bottom: 3px solid #b72a04;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand h2 {
    margin-left: 10px;
    font-weight: 600;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.numeros49 {
    height: 85vh;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.todosNumeros {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.numeros49 h1, h3 {
    text-align: center;
    font-weight: 600;
}

.numeros49 h5 {
    text-align: center;
}

footer {
    background-color: #212529;
    border-top: 3px solid #b72a04;
    display: flex;
    justify-content: center;
    bottom: 0px;
    width: 100%;
}

.icon {
    color: #f6f7f8;
    margin: 20px 20px;
}

.icon:hover {
    color:#b72a04;
}

/*Sub Unidades*/
.unidade{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 15px;
}

.fotoCia {
    width: 50%;
    margin: 30px 30px;
    border-radius: 5px;
    height: auto;
    box-shadow: 0 1px 3px 0 #a8a8a8;
}

.dadosCia {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dadosCia hr {
    flex-grow: 1;
    width: 50%;
    color: #4e565f;
}

.dadosCia i {
    margin-top: 30px;
    color: #4e565f;
}

.dadosCia i:hover {
    color: #212529;
}

/* ATUAL CMT */
.atualCmt {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 20px;
    width: 100%;
}


.fotoatualcmt {
    display: flex;
    justify-content: center;
    width: 50%;
}

.fotoatualcmt img {
    border-radius: 5px;
    width: 70%;
    height: auto;
    box-shadow: 0 1px 3px 0 #a8a8a8;;
}

.quadradoSeparaTitulo {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    padding-left: 8px;
    position: relative;
    bottom: -15px;
    background-color:hsl(0, 98%, 65%);
}

.curriculocmt {
    display: flex;
    flex-direction: column;
    background-color: #f6f7f8;;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #a8a8a8;
    padding: 50px;
}


.curriculocmt h3 {
    font-weight:600;
    z-index: 1;
    padding-left: 8px;
    margin-bottom: 0;
}

.curriculocmt li{
    list-style-type: square;
    margin-bottom: 10px;
}


/* Galeria cmts */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    height: 85vh;
    column-gap: 80px;
    row-gap: 100px;
}

.grid-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border: 10px solid #BA8C63;
    border-image: linear-gradient(45deg, #BA8C63, #634828) 1;
    font-size: 20px;
}

.placaCmt {
    background-color: #DAA520;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border: 2px solid #000;
}

/*SERVICOS */
.servicos {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    width: 50%;
}

@media only screen and (max-width: 1180px) {
    .tituloNumeros {
        width: 90%;
    }

    .todosNumeros {
        flex-direction: column;
        align-items: space-evenly;
    }

    .numerosCard {
        margin-bottom: 20px;
    }

    .unidade {
        flex-direction: column;
    }

    .fotoCia {
        width: 100%;
    }

    .dadosCia {
        width: 100%;
        text-align: center;
    }

    .atualCmt {
      flex-direction: column;
      height: 100%;
    }

    .fotoatualcmt {
        width: 100%;
        margin-bottom: 20px;
    }

    .fotoatualcmt img {
        width: 100%;
    }

    .quadradoSeparaTitulo {
        display: none;
    }
    
    .curriculocmt h3 {
        margin-left: 15px;
        position: relative;
        left: -22.5px;
        top: 2px;
        font-weight:600;
        width: 100%;
    }

    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
        width: 100%;
    }    

    footer {
        bottom: 0;
        position: relative; 
    }

}

