body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    border-bottom: 3px solid #b72a04;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand h2 {
    margin-left: 10px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.numeros49 {
    height: 85vh;
    min-height: 350px;
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.todosNumeros {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.numeros49 h5 {
    text-align: center;
}

footer {
    background-color: #212529;
    border-top: 3px solid #b72a04;
    display: flex;
    justify-content: center;
    bottom: 0px;
    width: 100%;
}

.icon {
    color: #f6f7f8;
    margin: 20px 20px;
}

.icon:hover {
    color:#b72a04;
}


/* ATUAL CMT */
.atualCmt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 20px;
    width: 100%;
}

.fotoatualcmt {
    display: flex;
    justify-content: center;
    width: 50%;
}

.fotoatualcmt img {
    border-radius: 5%;
    width: 70%;
    height: auto;
}

.quadradoSeparaTitulo {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color:#dd2b0b;
}

.curriculocmt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.curriculocmt h3 {
    margin-bottom: 5px;
    padding-left: 8px;
    position: relative;
    bottom: 15px;
    font-weight:600;
}

.curriculocmt li{
    padding-right: 130px;
    list-style-type: square;
    margin-bottom: 10px;
}


/* Galeria cmts */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    height: 85vh;
    column-gap: 80px;
    row-gap: 100px;
  }

.grid-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border: 10px solid #BA8C63;
    border-image: linear-gradient(45deg, #BA8C63, #634828) 1;
    font-size: 20px;
}

.placaCmt {
    background-color: #DAA520;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border: 2px solid #000;
}


